.logo{
	border:1px solid black;
	width:400px;
	height: auto;
	margin: 0 !important;
}
.head{
	border:1px solid black;
	height: auto;
	width: 600px;
}

.width-1000{
	width:1000px;
}
.item1{
	text-align: center;
	width: 25%;
}
.item2{
	text-align: center;
	width: 25%;
}
.item3{
	text-align: center;
	width: 25%;
}
.item4{
	text-align: center;
	width: 25%;
}
.bg{
	background-color: red;
}